# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

*.mp4

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# FFmpeg build artifacts
third_party/ffmpeg-build/build/
third_party/ffmpeg-build/out/
build/
*.mp4

app-example
